frontend/harmonia-dashboard/n8n-workflow-harmonia-369.json
{
  "name": "Harmonia 369 — Lead Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "harmonia-369",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook: Harmonia 369",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "lead_confirmed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "router-event",
      "name": "Router: Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"timestamp\": $json.body.timestamp,\n  \"business_name\": $json.body.business_name,\n  \"city\": $json.body.city,\n  \"email\": $json.body.email,\n  \"phone\": $json.body.phone || 'brak',\n  \"score_total\": $json.body.score_total,\n  \"score_wv\": $json.body.score_wv,\n  \"score_wr\": $json.body.score_wr,\n  \"score_we\": $json.body.score_we,\n  \"verdict\": $json.body.verdict,\n  \"lead_status\": $json.body.score_total < 50 ? 'HOT' : 'WARM'\n} }}",
        "options": {}
      },
      "id": "set-lead-data",
      "name": "Set: Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 200]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"timestamp\": $json.body.timestamp,\n  \"email\": $json.body.email,\n  \"business_name\": $json.body.business_name,\n  \"event\": 'CONFIRMED_LEAD'\n} }}",
        "options": {}
      },
      "id": "set-confirmed",
      "name": "Set: Confirmed Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 420]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (timestamp, business_name, city, email, phone, score_total, score_wv, score_wr, score_we, verdict, lead_status) VALUES ('{{ $json.timestamp }}', '{{ $json.business_name }}', '{{ $json.city }}', '{{ $json.email }}', '{{ $json.phone }}', {{ $json.score_total }}, {{ $json.score_wv }}, {{ $json.score_wr }}, {{ $json.score_we }}, '{{ $json.verdict }}', '{{ $json.lead_status }}')",
        "options": {}
      },
      "id": "db-insert",
      "name": "DB: Save Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 200],
      "credentials": {
        "postgres": {
          "id": "adrion-db",
          "name": "ADRION Genesis DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET lead_status = 'CONFIRMED' WHERE email = '{{ $json.email }}' AND business_name = '{{ $json.business_name }}'",
        "options": {}
      },
      "id": "db-update-confirmed",
      "name": "DB: Confirm Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 420],
      "credentials": {
        "postgres": {
          "id": "adrion-db",
          "name": "ADRION Genesis DB"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Harmonia 369": {
      "main": [
        [
          {
            "node": "Router: Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Event Type": {
      "main": [
        [
          {
            "node": "Set: Confirmed Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Lead Data": {
      "main": [
        [
          {
            "node": "DB: Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Confirmed Lead": {
      "main": [
        [
          {
            "node": "DB: Confirm Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Harmonia 369"
    },
    {
      "name": "Lead Gen"
    }
  ]
}
